:root{
    --bg-color: #f5f5f5;
    --text-color: #6c757d;
    --accent-color: #ffd333;
    --contrast-color: #3d464d;
    --gray-color: #ccc;
}

html, body{
    height: 100%;
}

body{
    min-width: 320px;
    font-family: "Roboto", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

a{
    color: var(--text-color);
    text-decoration: underline;
}

a:hover{
    text-decoration:none;
}

img{
    max-width: 100%;
    height: auto;
}

/*==================прижать footer к низу start - ОБЩИЕ ПРАВИЛА==================*/

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main.main{
    flex: 1 1 auto;
}

.btn, 
.dropdown-menu,
.form-control {
    border-radius: 0;
}

.form-control:focus {
    color: var(--text-color);
    border-color: var(--accent-color);
    box-shadow: none;
}

.form-control::placeholder{
    color: var(--gray-color);
}

/*==================прижать footer к низу end - ОБЩИЕ ПРАВИЛА==================*/

/*==================правила для HEADER - START==================*/

.header-top-phone a{
    text-decoration: none;
}

.header-top-phone a:hover{
    text-decoration: underline;
}

ul.social-icons{
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

ul.social-icons a {
    background-color: var(--accent-color);
    color: var(--contrast-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left; 
    text-align: center;
    line-height: 30px;
    transition: all 0.3s;
} 

ul.social-icons a:hover{
    background-color: var(--contrast-color);
    color: var(--accent-color);
}

.social-icon + .social-icon{
    padding-left: 10px;
}

.header-top .btn {
    background-color: #fff;
}

.header-logo{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--accent-color);
    transition: all 0.3s;

}

.header-logo:hover {
    color: var(--contrast-color);
}

/*==================правила для HEADER - end==================*/




/*3 15-00*/